extends layout

block content
  .main-container
    .header-container
      .logo-container
        img.logo(src="img/parquet.png")
      .slider-container
        .slide
          img.header-image(src="img/ivy.jpg")          
          .header-text-container
            a(href='#')
              h1.header-header-text New England is back in the AFC playoffs
            h3.header-sub-header-text Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
        .slide
          img.header-image(src="img/future.jpg")          
          .header-text-container
            a(href='#')
              h1.header-header-text Future
            h3.header-sub-header-text Future Future Future Future Future Future Future Future Future Future Future Future Future 
        .slide
          img.header-image(src="img/brass.jpg")          
          .header-text-container
            a(href='#')
              h1.header-header-text Brass Knuckles
            h3.header-sub-header-text Brass Knuckles Brass Knuckles Brass Knuckles Brass Knuckles Brass Knuckles Brass Knuckles Brass Knuckles 
      .slider-nav-container
        ul.slider-nav-list
          li.slider-nav-item.slide-0 
            a(href="javascript:void(0)") 1
          li.slider-nav-item.slide-1 
            a(href="javascript:void(0)") 2
          li.slider-nav-item.slide-2 
            a(href="javascript:void(0)") 3
    .nav-container
      ul
        li.nav-item
          a(href='#')
            h2 Hoops
        li.nav-item
          a(href='#')
            h2 Kicks
        li.nav-item
          a(href='#')
            h2 Music
        li.nav-item
          a(href='#')
            h2 Apparel
        li.nav-item
          a(href='#')
            h2 Culture
    hr
    .article-row
      .article-row-item
        .article-row-image-container
          img.article-row-image(src="img/tame.jpg")
        .article-row-text-container
          a(href='#')
            h5.article-row-category Hoops
          a(href='#')
            h2.article-row-header New England is back in the AFC playoffs
          p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
          a(href='#')
            h6.article-row-date-time 01/02/17 Mon 3:02pm
      .article-row-item
        .article-row-image-container
          img.article-row-image(src="img/girl-min.jpg")
        .article-row-text-container
          a(href='#')
            h5.article-row-category Kicks
          a(href='#')
            h2.article-row-header New England is back in the AFC playoffs
          p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
          a(href='#')
            h6.article-row-date-time 01/02/17 Mon 3:02pm
      .article-row-item
        .article-row-image-container
          img.article-row-image(src="img/future.jpg")
        .article-row-text-container
          a(href='#')
            h5.article-row-category Hoops
          a(href='#')
            h2.article-row-header New England is back in the AFC playoffs
          p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
          a(href='#')
            h6.article-row-date-time 01/02/17 Mon 3:02pm
      .article-row-item
        .article-row-image-container
          img.article-row-image(src="img/girl.jpg")
        .article-row-text-container
          a(href='#')
            h5.article-row-category Music
          a(href='#')
            h2.article-row-header New England is back in the AFC playoffs
          p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
          a(href='#')
            h6.article-row-date-time 01/02/17 Mon 3:02pm
      .article-row-item
        .article-row-image-container
          img.article-row-image(src="img/hiker.jpg")
        .article-row-text-container
          a(href='#')
            h5.article-row-category Culture
          a(href='#')
            h2.article-row-header New England is back in the AFC playoffs
          p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
          a(href='#')
            h6.article-row-date-time 01/02/17 Mon 3:02pm
      .article-row-item
        .article-row-image-container
          img.article-row-image(src="img/street.jpg")
        .article-row-text-container
          a(href='#')
            h5.article-row-category Kicks
          a(href='#')
            h2.article-row-header New England is back in the AFC playoffs
          p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
          a(href='#')
            h6.article-row-date-time 01/02/17 Mon 3:02pm
    .article-large-container
      .article-large-image-container
        img.article-large-image(src="img/brass.jpg")
      .article-large-text-container.article-large-left-text-container
        a(href='#')
          h5.article-row-category Apparel
        a(href='#')
          h2.article-row-header New England is back in the AFC playoffs
        p.article-large-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
        a(href='#')
          .readmore
            p.readmore-text Read More
        a(href='#')
          h6.article-large-date-time 01/02/17 Mon 3:02pm
    .article-large-container
      .article-large-image-container.right
        img.article-large-image(src="img/girl2.jpg")
      .article-large-text-container.article-large-right-text-container.right
        a(href='#')
          h5.article-row-category Music
        a(href='#')
          h2.article-row-header New England is back in the AFC playoffs
        p.article-large-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming 
        a(href='#')
          .readmore
            p.readmore-text Read More
        a(href='#')
          h6.article-large-date-time 01/02/17 Mon 3:02pm
    .article-large-container
      .article-large-image-container
        img.article-large-image(src="img/girl.jpg")
      .article-large-text-container.article-large-left-text-container
        a(href='#')
          h5.article-row-category Hoops
        a(href='#')
          h2.article-row-header New England is back in the AFC playoffs
        p.article-large-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots 
        a(href='#')
          .readmore
            p.readmore-text Read More
        a(href='#')
          h6.article-large-date-time 01/02/17 Mon 3:02pm
    .spotlight-container
      img.spotlight-image(src="img/goat.png")
      .spotlight-text-container
        h1.spotlight-header-text Tom Brady is GOAT
        h3.spotlight-sub-header-text Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
        .readmore
          p.readmore-text Read More
    div(ng-app="app" class="ng-scope")
      div(class="music-container" id="music")
        video(src="lunice_trim.mp4" autoplay loop muted)
        .soundcloud
          .soundcloud-content
            div(plangular="https://soundcloud.com/tnght/lunice-cantwait" class="white")
              a(ng-href="{{track.permalink_url}}")
                img.soundcloud-icon-large(src="img/soundcloud_logo_stacked.png")
              .soundcloud-center.white
                h4.soundcloud-artist Lunice
                h3.soundcloud-title Can't Wait To
              .flex.flex-center.px2.white
                button(ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded circle-play-button {'active':player.playing === track.src}")
                  svg(ng-if="player.playing !== track.src" class="icon geomicon play-button" data-icon="play" viewBox="0 0 32 32" width="32" height="32")
                    path(d="M4 4 L28 16 L4 28 z ")
                  svg(ng-if="player.playing === track.src" class="icon geomicon play-button" data-icon="pause" viewBox="0 0 32 32" width="32" height="32")
                    path(d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z ")
              .flex-auto.white
                progress(class="progress white" ng-click="seek($event)" ng-value="currentTime / duration || 0")
                  div {{ currentTime / duration }}
      .more-music-container
        div(plangular="https://soundcloud.com/tnght/lunice-cantwait" class="white more-music-card-container mobile-music-card")
          a(ng-href="{{track.permalink_url}}")
            img.soundcloud-icon-small(src="img/soundcloud_logo_horizontal.png")
          .more-music-card
            img.more-music-card-image(src="img/moon.jpg")
            .more-music-card-details
              h4.music-card-artist Lunice
              h3.music-card-title Can't Wait To
              .flex.flex-center.px2.white
                button(ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded music-card-circle")
                  svg(ng-if="player.playing !== track.src" class="icon geomicon play-button" data-icon="play" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 L28 16 L4 28 z ")
                  svg(ng-if="player.playing === track.src" class="icon geomicon play-button" data-icon="pause" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z ")
              .flex-auto.white
                progress(class="progress white more-music-card-progress" ng-click="seek($event)" ng-value="currentTime / duration || 0")
                  div {{ currentTime / duration }}
        div(plangular="https://soundcloud.com/thewarondrugs/red-eyes" class="white more-music-card-container")
          a(ng-href="{{track.permalink_url}}")
            img.soundcloud-icon-small(src="img/soundcloud_logo_horizontal.png")
          .more-music-card
            img.more-music-card-image(src="img/warondrugs.jpg")
            .more-music-card-details
              h4.music-card-artist The War on Drugs
              h3.music-card-title Red Eyes
              .flex.flex-center.px2.white
                button(ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded music-card-circle")
                  svg(ng-if="player.playing !== track.src" class="icon geomicon play-button" data-icon="play" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 L28 16 L4 28 z ")
                  svg(ng-if="player.playing === track.src" class="icon geomicon play-button" data-icon="pause" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z ")
              .flex-auto.white
                progress(class="progress white more-music-card-progress" ng-click="seek($event)" ng-value="currentTime / duration || 0")
                  div {{ currentTime / duration }}
        div(plangular="https://soundcloud.com/stanley-jerphanion/tnght-higher-ground-hudson" class="white more-music-card-container")
          a(ng-href="{{track.permalink_url}}")
            img.soundcloud-icon-small(src="img/soundcloud_logo_horizontal.png")
          .more-music-card
            img.more-music-card-image(src="img/tnght.jpg")
            .more-music-card-details
              h4.music-card-artist TNGHT
              h3.music-card-title Higher Ground
              .flex.flex-center.px2.white
                button(ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded music-card-circle")
                  svg(ng-if="player.playing !== track.src" class="icon geomicon play-button" data-icon="play" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 L28 16 L4 28 z ")
                  svg(ng-if="player.playing === track.src" class="icon geomicon play-button" data-icon="pause" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z ")
              .flex-auto.white
                progress(class="progress white more-music-card-progress" ng-click="seek($event)" ng-value="currentTime / duration || 0")
                  div {{ currentTime / duration }}
        div(plangular="https://soundcloud.com/com-truise/forgive" class="white more-music-card-container")
          a(ng-href="{{track.permalink_url}}")
            img.soundcloud-icon-small(src="img/soundcloud_logo_horizontal.png")
          .more-music-card
            img.more-music-card-image(src="img/com_truise.png")
            .more-music-card-details
              h4.music-card-artist Com Truise
              h3.music-card-title Forgive
              .flex.flex-center.px2.white
                button(ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded music-card-circle")
                  svg(ng-if="player.playing !== track.src" class="icon geomicon play-button" data-icon="play" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 L28 16 L4 28 z ")
                  svg(ng-if="player.playing === track.src" class="icon geomicon play-button" data-icon="pause" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z ")
              .flex-auto.white
                progress(class="progress white more-music-card-progress" ng-click="seek($event)" ng-value="currentTime / duration || 0")
                  div {{ currentTime / duration }}
        div(plangular="https://soundcloud.com/roadrunner-usa/trivium-until-the-world-goes-cold" class="white more-music-card-container")
          a(ng-href="{{track.permalink_url}}")
            img.soundcloud-icon-small(src="img/soundcloud_logo_horizontal.png")
          .more-music-card
            img.more-music-card-image(src="img/trivium.jpg")
            .more-music-card-details
              h4.music-card-artist Trivium
              h3.music-card-title Until the World goes Cold
              .flex.flex-center.px2.white
                button(ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded music-card-circle")
                  svg(ng-if="player.playing !== track.src" class="icon geomicon play-button" data-icon="play" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 L28 16 L4 28 z ")
                  svg(ng-if="player.playing === track.src" class="icon geomicon play-button" data-icon="pause" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z ")
              .flex-auto.white
                progress(class="progress white more-music-card-progress" ng-click="seek($event)" ng-value="currentTime / duration || 0")
                  div {{ currentTime / duration }}
        div(plangular="https://soundcloud.com/sunflower-bean/tame-impala" class="white more-music-card-container")
          a(ng-href="{{track.permalink_url}}")
            img.soundcloud-icon-small(src="img/soundcloud_logo_horizontal.png")
          .more-music-card
            img.more-music-card-image(src="img/sunflower_bean.jpg")
            .more-music-card-details
              h4.music-card-artist Sunflower Bean
              h3.music-card-title Tame Impala
              .flex.flex-center.px2.white
                button(ng-click="playPause()" title="Play/Pause" class="flex-none h2 mr2 button button-transparent button-grow rounded music-card-circle")
                  svg(ng-if="player.playing !== track.src" class="icon geomicon play-button" data-icon="play" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 L28 16 L4 28 z ")
                  svg(ng-if="player.playing === track.src" class="icon geomicon play-button" data-icon="pause" viewBox="0 0 32 32" width="24" height="24")
                    path(d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z ")
              .flex-auto.white
                progress(class="progress white more-music-card-progress" ng-click="seek($event)" ng-value="currentTime / duration || 0")
                  div {{ currentTime / duration }}
      .article-row
        .article-row-item
          .article-row-image-container
            img.article-row-image(src="img/brady.jpg")
          .article-row-text-container
            a(href='#')
              h5.article-row-category Apparel
            a(href='#')
              h2.article-row-header New England is back in the AFC playoffs
            p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
            a(href='#')
              h6.article-row-date-time 01/02/17 Mon 3:02pm
        .article-row-item
          .article-row-image-container
            img.article-row-image(src="img/girl-min.jpg")
          .article-row-text-container
            a(href='#')
              h5.article-row-category Hoops
            a(href='#')
              h2.article-row-header New England is back in the AFC playoffs
            p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
            a(href='#')
              h6.article-row-date-time 01/02/17 Mon 3:02pm
        .article-row-item
          .article-row-image-container
            img.article-row-image(src="img/future.jpg")
          .article-row-text-container
            a(href='#')
              h5.article-row-category Culture
            a(href='#')
              h2.article-row-header New England is back in the AFC playoffs
            p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
            a(href='#')
              h6.article-row-date-time 01/02/17 Mon 3:02pm
        .article-row-item
          .article-row-image-container
            img.article-row-image(src="img/girl.jpg")
          .article-row-text-container
            a(href='#')
              h5.article-row-category Kicks
            a(href='#')
              h2.article-row-header New England is back in the AFC playoffs
            p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
            a(href='#')
              h6.article-row-date-time 01/02/17 Mon 3:02pm
        .article-row-item
          .article-row-image-container
            img.article-row-image(src="img/hiker.jpg")
          .article-row-text-container
            a(href='#')
              h5.article-row-category Music
            a(href='#')
              h2.article-row-header New England is back in the AFC playoffs
            p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
            a(href='#')
              h6.article-row-date-time 01/02/17 Mon 3:02pm
        .article-row-item
          .article-row-image-container
            img.article-row-image(src="img/girl2.jpg")
          .article-row-text-container
            a(href='#')
              h5.article-row-category Hoops
            a(href='#')
              h2.article-row-header New England is back in the AFC playoffs
            p.article-row-paragraph Another season is coming to an end and the New England Patriots are once again on top of the AFC. Another season is coming to an end and the New England Patriots are once again on top of the AFC. 
            a(href='#')
              h6.article-row-date-time 01/02/17 Mon 3:02pm
      .footer-container
        .footer-logo-container
          img.footer-logo(src="img/parquet.png")
